* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel-container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel-box img {
  max-width: 50vw;
}
.carousel-box {
  width: 50vw;
  display: flex;
  border: 5px solid black;
}
